/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base rules */
html {
  background-color: #494949;
}
body {
  background-color: #fff;
}
h1 {
  font-family: Arial, serif;
  font-size: 2.2em;
  font-weight: 200;
  border-bottom: 1px solid #5f5f5f;
  margin-bottom: 20px;
}
h2 {
  font-family: Arial, serif;
  font-size: 1.8em;
  font-weight: 200;
  margin-bottom: 20px;
}
h3 {
  font-family: Arial, serif;
  font-size: 1.6em;
  font-weight: 200;
  margin-bottom: 20px;
}
h4 {
  font-family: Arial, serif;
  font-size: 1.4em;
  font-weight: 200;
  margin-bottom: 20px;
}
p {
  font-family: Georgia, serif;
  font-size: 1.1em;
  line-height: 1.6em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
a {
  text-decoration: none;
  color: #1e91f1;
}
/* Layout rules */
.wrap-all {
  margin: 0 auto;
  background-color: #ececec;
}
.outer-wrap {
  width: 100%;
}
.inner-wrap-main,
.inner-wrap-breadcrumb {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
}
.inner-wrap-main {
  min-height: 700px;
}
.inner-wrap-main,
.inner-wrap-footer {
  padding: 35px 20px 20px;
}
.inner-wrap-breadcrumb {
  padding: 25px 0 0 25px;
}
/* Header */
.outer-wrap-header {
  height: 60px;
  background-color: #000;
  width: 100%;
}
.inner-wrap-header .row {
  padding-top: 10px;
}
.region-header-col-1 {
  display: inline;
  float: left;
}
.region-header-col-2 {
  display: inline;
  float: right;
}
.region-flash img {
  width: 100%;
  float: left;
}
.rm-default li {
  display: inline-block;
}
.rm-navbar ul,
.breadcrumb-list ul,
.toc {
  list-style: none;
}
.rm-navbar a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px 0 0;
  vertical-align: sub;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
}
.rm-navbar a:hover {
  text-decoration: underline;
}
.rm-navbar .rm-submenu-button {
  display: none;
}
.site-logo,
.site-logo-text-icon {
  display: none;
}
.site-logo-text {
  font-size: 2em;
  font-family: Arial, sans-serif;
  color: #fff;
  font-style: italic;
  padding-left: 20px;
}
/* Footer */
.outer-wrap-footer {
  clear: both;
}
.inner-wrap-footer {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}
.inner-wrap-footer a {
  color: #fff;
}
.inner-wrap-footer p {
  font-size: 1em;
}
.inner-wrap-footer h4 {
  font-family: Georgia, serif;
  font-size: 1.3em;
}
.site-footer {
  text-align: center;
  clear: both;
}
.footer-column {
  display: inline;
  float: left;
  width: 33%;
}
.outer-wrap-footer {
  background-color: #494949;
}
/* Sidebar */
.has-sidebar {
  display: inline;
  float: right;
  width: 72%;
  margin: 0 5px;
}
.wrap-sidebar {
  float: left;
  width: 23%;
}
.toc a {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  line-height: 2em;
  color: #000;
  padding-left: 10px;
}
.toc a:hover {
  text-decoration: underline;
}
.toc h4,
.wrap-sidebar h4 {
  background-color: #eee;
  padding: 10px 20px;
}
/* .has-sidebar-right h1 {
    padding-top: 40px;
} */
/* breadcrumbs & next previous */
.breadcrumb-list li {
  display: inline;
}
.breadcrumb-list li::after {
  content: " /";
}
.next-previous {
  height: 40px;
  padding-top: 20px;
}
.next-previous:first-child {
  display: none;
}
.next {
  float: right;
}
.previous {
  float: left;
}
/* Figures */
.figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
figcaption {
  font-style: italic;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.right {
  float: right;
  margin-block-start: 0;
  padding-left: 20px;
}
.figure img {
  max-width: 100%;
  display: block;
}
/* Byline */
.author-byline {
  border: 1px solid #5f5f5f;
  clear: both;
  display: flex;
}
.author-byline p {
  font-size: 1em;
  font-style: italic;
  padding-top: 5px;
}
.byline-image {
  float: left;
  padding: 20px;
}
@media (max-width: 1200px) {
  .inner-wrap-main,
  .inner-wrap-breadcrumb {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .has-sidebar {
    width: 100%;
  }
  .wrap-sidebar {
    width: 100%;
    float: none;
  }
  .outer-wrap-header {
    height: 120px;
  }
  .region-header {
    display: inline-grid;
  }
  .region-header-col-2 {
    padding: 20px;
    white-space: nowrap;
    overflow: auto;
  }
  .footer-column {
    display: block;
    float: none;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .right {
    padding: 0;
    float: none;
  }
  .right img {
    width: 100%;
  }
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
